* {
  color: white;
}

body {
  background-image: url('background-image.jpeg');
  background-size: cover;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto;  
}

.container > .item {
  margin-left: 250px;
}

.container-3 {
  display: grid;
  grid-template-columns: auto auto auto;  
}

.container-3 > .item {
  margin-left: 100px
}

.score {
  font-size: 50pt;
  font-weight: bold;
  margin-left: 5%;
}

.pilihan img {
  opacity: 0.5;
}

.pilihan img:hover {
  opacity: 1;
  cursor: pointer;
}